<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Mindful</title>


  <!-- Bootstrap !! -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="static/css/main.css">
  <link rel='stylesheet' href='static/css/frontpage.css'>

</head>

<body>

  <!-- JQuery ! -->
  
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

  <!-- Boostrap CDN ! -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <!-- Import My Own Scripts ! -->
  <script src='static/js/index.js'></script>

  <div class='centerPage'>
    <img src='static/assets/mindful.png' class='homeLogo'/>
    <a target="_blank"><button onclick='window.location.replace("login")' class='buttonHome whiteButton mt7vw'>Log In</button></a>
    <a target="blank"'><button onclick='window.location.replace("signup")'  class='buttonHome slateButton mt7vw'>Sign Up</button></a>
  </div>

</body>

</html>