@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.header {
  font-weight: 400;
  overflow:wrap;
  margin-bottom:3vw;
  color: #3B3B3B;
  font-family: "Jua", sans-serif;
  border: 0;
  text-align:center;
  font-size: 10vw;
}

.login-input{
  padding: 10px;
  border-radius: 2vw;
  border: 2px solid #3B3B3B;
  background-color: transparent;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
  margin-bottom: 15px; 
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-weight:300;
  width:80vw;
  height:22vw;
  font-size: 6vw;
  margin-bottom:5vw;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.login-form-body .login-form-form .login-form-input:focus{
  border-color:#222c8b;
  width: 300px;
  max-width: 85%;
}



.btn:hover {
  background-color: white !important;
  border: 1px #3F0049 solid;
  color: #3F0049 !important;
}

.btn {
  border-radius: 2vw;
  margin-left: auto;
  margin-right: auto;
  width:80vw;
  font-size: 13px;
  color: #fff !important;
  background: #3F0049;
  padding: 12px 30px;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  transition: ease 1s;
  border: 1px solid #3F0049;
  height: 22vw;
  font-family: "Dosis", sans-serif;
  letter-spacing: .2em;
  font-weight: 400;
  font-size: 5vw;
}


.lastInput {
  margin-bottom: 30px !important;
}


.btn:hover {
  cursor:pointer;
}

.centerPage {
  transform: translate(-50%, 0) !important;
  top: 0 !important;
}

h1 {
  font-size: 10vw !important;
  text-align: center;
  margin-top: 10vh;
}

legend {
  font-size: 10vw;
}

label {
  font-size: 6vw;
  font-weight: 200;
  margin-top:0.5vh;
}

.check {
  width: 4vw;
  height: 4vw; 
  margin-right: 3vw;
}

.p2 {
  display:none;
}

#susub {
  margin-bottom: 5vh;
}

.gr1 {
  display: block;;
}

.gr2 {
  display: none;
}

#rmore {
  font-size: 4vw;
font-weight: 200;
text-transform: uppercase;
letter-spacing: .1em;
margin-top: 1vh;
}